body{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.box{
    width: 150px;
    height: 150px;
    color: black;
    font-size: 90px;
    font-family: sans-serif;
    font-weight: bold;
    background-color: greenyellow;
    border: black solid 1px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circulo{
    border-radius: 100%;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}